.navbar-item {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--photo-info);

  &:hover {
    svg {
      background: var(--tab-active);
    }

    color: var(--modal-text)
  }

  span,
  svg {
    font-size: 1.1em !important;
  }

  svg {
    font-size: 1.2em !important;
    width: 60px;
    padding: 5px;
    border-radius: 20px;
    color: var(--photo-info);
  }
}

/* safari fix */
@supports (-webkit-hyphens: none) {
  .navbar-item {
    display: inline-block !important;
  }
}

.modalNavbar {
  position: absolute;
  left: 20rem;
  top: 1rem;
  justify-content: center;
  display: flex;

  svg {
    margin-right: 0.5rem;
    padding: 3px;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 1200px) {
  .modalNavbar {
    left: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  li.navbar-item {
    span {
      display: none;
    }
  }
}

.navbar-item-active {
  color: var(--modal-text);

  svg {
    background: var(--sidebar);
  }
}
