@import 'scss/variables';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 12px;

  @include themed {
    background: t($modal-sidebar);
  }
}

::-webkit-scrollbar-thumb {
  @include themed {
    background: t($modal-sidebarActive);
  }

  border-radius: 12px;
}
