.tab-content {
  position: absolute;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 2300px) {
  .tab-content {
    left: 350px;
    top: 7%;
  }
}

@media only screen and (max-width: 1920px) {
  .tab-content {
    left: 120px;
    top: 50px;
  }
}

@media only screen and (min-width: 1920px) {
  .tab-content {
    left: 350px;
    top: 7%;
  }
}

@media only screen and (max-width: 1400px),
(min-width: 1400px) {
  .tab-content {
    left: 350px;
  }
}

@media only screen and (max-width: 1200px) {
  .tab-content {
    left: 125px;
    top: 75px;
  }
}
