.photoInformation {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: calc(10px + 0.1vmin) !important;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  svg {
    float: left;
    margin-right: 1rem;
    font-size: calc(10px + 2vmin);
    cursor: pointer;
  }

  svg,
  h1 {
    display: inline;
  }

  svg:hover+.infoCard {
    display: block;
  }
}

.infoCard {
  display: none;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #000;
  position: fixed;
  bottom: 3.25rem;
  left: 0.7em;
  padding: 1rem;
  border-radius: 24px 24px 24px 0;
  max-width: 500px;
  text-align: left;
  text-shadow: none;

  span {
    display: block;
  }

  svg {
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-flex;
    padding: 2px;
  }

  span,
  svg {
    font-size: 2em;
  }

  h1,
  .infoIcon {
    font-size: 3em;
  }

  .infoIcon {
    padding: 4px;
  }

  hr {
    height: 3px;
    background: #2d3436;
    outline: none;
    border: none;
  }

  &:hover {
    display: block !important;
  }
}

.dark hr {
  background-color: white !important;
}
