@import 'photoinformation';
@import '../../../../scss/mixins';

#backgroundImage {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  zoom: 100% !important;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.fade-in {
  @include animation('fadein 2s');
}

@include keyframes(fadein) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.backgroundEffects {
  opacity: 0.7;
  transition: ease 0.6s;
}

.creditlink {
  text-decoration: none;
  color: white;
}

.view {
  right: 25px;
}

.favourite {
  right: 50px;
  padding-right: 5px;
}

.view,
.favourite {
  bottom: 10px;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: auto;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
