@import 'scss/variables';

.quicklinks {
  @include basicIconButton(10px, 14px, ui);

  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #484848;
  border-radius: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.5em;
  padding: 10px 40px;
  gap: 15px;
}

.quicklinkscontainer {
  border-radius: 12px;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 12px;

  textarea {
    @extend %basic;

    border: none;
    padding: 15px;
    border-radius: 12px;
  }

  ::placeholder {
    color: #636e72;
    opacity: 1;
  }
}

.topbarquicklinks {
  svg {
    font-size: 46px;
    padding: 9px;
  }

  h4 {
    margin: 0;
    cursor: initial;
    user-select: none;
    text-shadow: none;
  }

  p {
    font-size: 16px;
    cursor: initial;
    user-select: none;
    color: rgb(255 71 87 / 100%);
  }
}

.quicklinks-container > a,
.quicklinks-container > .quicklinks > button {
  display: inline;
}

.quicklinks-container {
  img {
    height: 32px;
    width: auto;
    transition: transform 0.2s;
    user-select: none;

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    margin: 5px;
  }
}

.quicklinkstext {
  text-decoration: none;
  color: white;
  font-size: 0.8em;

  &:hover {
    text-decoration: underline;
  }
}

/*  background-color: var(--background);
  color: var(--modal-text); */

.quicklinksdropdown {
  @extend %basic;

  position: absolute;
  z-index: 99;
  display: none;
  flex-flow: column;
  padding: 15px;
  box-shadow: 0 0 0 1px #484848;
  gap: 5px;

  &:hover {
    .quicklinksdropdown {
      display: block;
    }
  }

  .dropdown-title {
    font-size: 0.9em;
  }

  .dropdown-subtitle {
    font-size: 0.4em;

    @include themed {
      color: t($subColor);
    }
  }

  button {
    @include basicIconButton(10px, 0.9rem, ui);

    border-radius: 12px;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.dropdown-error {
  font-size: 0.4em;
}

button.quicklinks {
  cursor: pointer;
}

.outOfScreen {
  bottom: 515px;
}

.quicklinkModalTextbox {
  display: flex;
  flex-flow: column;
  gap: 5px;

  button {
    display: flex;
    flex-flow: row;
    gap: 20px;
    justify-content: center;
  }

  .dropdown-error {
    font-size: 13px;
    padding-left: 5px;
    color: #e74c3c;
  }

  @include themed {
    textarea {
      background: t($modal-sidebar);
      border: 1px solid t($modal-sidebarActive);
      color: t($color);
      border-radius: t($borderRadius);
      padding: 10px 20px;

      &:hover {
        box-shadow: 0 0 0 1px t($color);
      }

      &:active {
        box-shadow: 0 0 0 1px t($color);
      }

      &:focus {
        box-shadow: 0 0 0 1px t($color);
      }
    }
  }
}

.quickLinksMetro {
  @extend %basic;

  text-decoration: none;
  gap: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 100px;
  background-image: linear-gradient(to left, rgb(0 0 0), transparent, rgb(0 0 0)),
    url('https://media.cntraveller.com/photos/615ee85…/16:9/w_2580,c_limit/Best%20Cities%20in%20the%20World%20-%20Grid.jpg');
  transition: 0.8s;
  text-align: left;
  padding: 20px 40px;

  @include themed {
    &:hover {
      background: t($btn-backgroundHover);
    }
  }

  img {
    width: auto;
    align-self: center;
  }
}

.quicklinknostyle {
  text-decoration: none;
  font-size: 14px;

  @include themed {
    color: t($subColor);
  }
}
