.aboutLink {
  &:hover {
    opacity: 0.8;
  }
}

.aboutLogo {
  height: 100px;
  width: auto;
  margin: calc(1rem - 15px) 0 1rem 0;
  align-self: center;
}

.aboutContact {
  flex-flow: row;
  display: flex;
  gap: 15px;

  a {
    @include basicIconButton(11px, 1.2rem, modal);
  }
}

.contributorImages {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  img {
    width: 75px;
    height: auto;

    @include themed {
      border-radius: t($borderRadius);
    }
  }
}

.subtitle-photographers {
  font-size: 16px;

  @include themed {
    color: t($color);

    span {
      color: t($subColor);
    }
  }
}
