@import '../../../../../../../scss/variables';

.sortableItem {
  @include themed() {
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.325rem;
    color: t($color) !important;
    cursor: move;
    width: 200px;
    z-index: 999 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: t($modal-sidebar);
    border: 3px solid t($modal-sidebarActive);
    border-radius: t($borderRadius);

    svg {
      font-size: 1.3rem;
      color: t($subColor);
    }

    &:hover {
      background: t($modal-sidebarActive) !important;
    }
  }

  ul {
    -webkit-padding-start: 0;
    padding: 0;
    list-style-type: none;

    > label {
      vertical-align: middle;
    }
  }
}

.sortablecontainer {
  -webkit-padding-start: 0;
  padding: 0;
  list-style-type: none;
}

.images-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  grid-gap: 20px;
  @include themed() {
    div {
      border-radius: t($borderRadius);
      border: 5px t($modal-sidebar) solid;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      gap: 5px;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: t($borderRadius);
      }
      button {
        padding: 0 30px 0 30px;
        background: t($modal-background);
        border: none !important;
        &:hover {
          background: t($modal-sidebarActive);
        }
      }
    }
    .iconButton {
      width: calc(100% - 22px);
      margin-top: 10px;
      @include basicIconButton(11px, 1.3rem, modal);
    }
  }
}

.overviewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.tabPreview {
  width: 100%;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  @include themed() {
    background: t($modal-sidebar);
    border-radius: t($borderRadius);
  }
  .previewContainer {

  }
  .previewItem {

  }
}