# Directories
node_modules/
.history/
.vscode/
extensions/
.idea/
dist/
build/
coverage/
logs/

# Files
package-lock.json
.stylelintcache
yarn-error.log
pnpm-lock.yaml
.eslintcache
stats.json
yarn.lock
keys.json
.DS_Store
*.zip
i18n-fallback.json
bun.lockb
.env
*.log
*.tmp