%settingsButton {
  transition: ease 0.33s;
  color: map-get($theme-colours, 'main');
  cursor: pointer;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 24px;
  box-shadow: 0 5px 15px rgba(128, 161, 144, 0.4);

  &:hover, &:active {
    outline: none;
    background: none;
  }
}

.dark %settingsButton {
  box-shadow: none;
}

.apply {
  @extend %settingsButton;
  margin-right: 20px;
  background-color: map-get($button-colours, 'confirm');
  border: 2px solid map-get($button-colours, 'confirm');

  &:hover {
    border: 2px solid map-get($button-colours, 'confirm');
    color: map-get($button-colours, 'confirm');
  }
}

.reset {
  @extend %settingsButton;
  margin-left: 5px;
  background-color: map-get($button-colours, 'reset');
  border: 2px solid map-get($button-colours, 'reset');

  &:hover {
    border: 2px solid map-get($button-colours, 'reset');
    color: map-get($button-colours, 'reset');
  }
}

.close {
  @extend %settingsButton;
  padding: 10px 50px 10px 50px;
  background-color: map-get($button-colours, 'other');
  border: 2px solid map-get($button-colours, 'other');

  &:hover {
    color: map-get($button-colours, 'other');
    border: 2px solid map-get($button-colours, 'other');
  }
}

.add {
  @extend %settingsButton;
  background-color: map-get($button-colours, 'other');
  border: 2px solid map-get($button-colours, 'other');

  &:hover {
    color: map-get($button-colours, 'other');
    border: 2px solid map-get($button-colours, 'other');
  }
}

.export,
.uploadbg,
.import {
  @extend %settingsButton;
  background-color: map-get($button-colours, 'other');
  border: 2px solid map-get($button-colours, 'other');
  color: map-get($theme-colours, 'main');

  &:hover {
    color: map-get($button-colours, 'other');
  }
}

.export,
.import {
  float: right;
  margin-left: 20px;
}

%storebutton {
  cursor: pointer;
  font-size: 18px;
  float: right;
  padding: 5px 30px;
  background: none;
  border-radius: 24px;
  transition: ease 0.33s;
  border: 2px solid black;

  &:hover {
    background: #2d3436;
    color: map-get($theme-colours, 'main');;
  }
}

.dark %storebutton {
  border: 2px solid map-get($theme-colours, 'main');
  color: map-get($theme-colours, 'main');

  &:hover {
    background: map-get($theme-colours, 'main');
    color: #2d3436;
  }
}

.removeFromMue {
  @extend %storebutton;
  border: 2px solid #ff4757;
  color: #ff4757;

  &:hover {
    background: #ff4757;
    color: map-get($theme-colours, 'main');;
  }
}

#item .addToMue,
#item .removeFromMue {
  margin-top: 5px;
}

.addToMue {
  @extend %storebutton;
}

.goToMarket {
  float: none;
  @extend %storebutton;
}

.sideload, .seemore {
  margin-top: 12px;
}

.stop {
  outline: none;
  border-image-slice: 1;
  border-image-source: map-get($theme-colours, 'gradient');
  font-size: 1.2em;
  padding-left: 7px;
  vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  outline: none;
}

.pinNote {
  @extend %settingsButton;
  background-color: map-get($button-colours, 'confirm');
  border: 2px solid map-get($button-colours, 'confirm');
  color: map-get($theme-colours, 'main');
  transition: 0s;

  &:hover {
    color: map-get($button-colours, 'confirm');
  }

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
  }
}

.saveNote {
  @extend %settingsButton;
  background-color: map-get($button-colours, 'other');
  border: 2px solid map-get($button-colours, 'other');
  color: map-get($theme-colours, 'main');
  transition: 0s;
  display: inline;
  margin: 5px;

  &:hover {
    color: map-get($button-colours, 'other');
  }
}