.clock {
  font-size: 4em;
  margin: 0;
}

.ampm {
  font-size: 0.5em;
}

.analogclock, .react-clock__face {
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
  border: 1px solid map-get($theme-colours, "main");
}

.react-clock__hand__body {
  background: map-get($theme-colours, "main");;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}