#item a {
  color: map-get($button-colours, 'other');
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.items {
  display: flex;
  margin-top: 15px;

  .item {
    position: relative;
    border-radius: 12px;
    height: 80px;
    width: 270px;
    background: map-get($marketplace, 'item-background');
    transition: 0.5s;
    cursor: pointer;
    margin-right: 20px;

    img {
      height: 100%;
      width: auto;
      border-radius: 12px 0 0 12px;
      background: white;
    }

    h4 {
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
    }

    img,
    .details {
      display: inline;
    }

    .details {
      position: absolute;
      left: 90px;
      top: 15px;

      img {
        margin-left: 10px;
        height: 15px;
      }
    }

    p {
      margin-top: 5px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.dark .items .item {
  background: #2d3436;
}

p.author {
  margin-top: -5px;
}

#item {
  display: none;

  h1 {
    font-size: 40px;
  }
}

#item>h1,
#item>.MuiSvgIcon-root {
  display: inline;
  font-size: 35px !important;
}

p.description {
  margin-top: 0px;
}

.emptyMessage {
  margin: 0 auto;
  text-align: center;
  transform: translateY(30%);

  svg {
    font-size: 50px;
    margin-bottom: -20px;
  }
}

.backArrow {
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

.informationContainer {
  float: right;
}

.productInformation {
  margin-bottom: 20px;
  padding: 20px;
  background: map-get($marketplace, 'product-information-backgroud');
  width: 200px;
  border-radius: 12px;

  li {
    margin-left: -4px;
    list-style: none;

    &.header {
      text-transform: uppercase;
      color: #787878;
      margin-left: -5px;
    }
  }
}

.dark .productInformation {
  background: #2d3436;
}

#item>img {
  border-radius: 24px;
  height: 200px;
  width: auto;
}

.marketplaceanimation {
  @include animation('content 0.5s');
}

@include keyframes(content) {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.featured {
  margin-top: 20px;
  border-radius: 24px;
  padding: 50px;
  color: map-get($theme-colours, 'main');

  button {
    float: left;
    margin-top: -20px;
    border: 2px solid map-get($theme-colours, 'main');
    color: map-get($theme-colours, 'main');

    &:hover {
      background: map-get($theme-colours, 'main');
      color: #2d3436;
    }
  }

  h1 {
    margin-top: -20px;
  }
}

.dark .featured {
  background: black;
  color: white;
}

#seemore {
  display: none;

  svg {
    font-size: 35px !important;
    margin-bottom: -30px;
  }
}
