.Modal {
  background-color: map-get($modal, 'background');
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 25px;
  transition: 0.6s;
  transition-timing-function: ease-in;
  border-radius: map-get($modal, 'border-radius');
  -webkit-user-select: none;
  scrollbar-color: #34495e #bdc3c7;

  &:focus {
    outline: 0;
  }
}

.modalLink {
  color: #5352ed;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.closeModal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4em;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

.dark {
  background-color: #2f3542 !important;
  color: white !important;
}

.zoom-in {
  @include animation('zoom-in');
}

@include keyframes(zoom-in) {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.05, 1.05);
  }

  100% {
    transform: scale(1, 1);
  }
}

.Overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 20px;
}

.modal-animation {
  -webkit-animation: zoom-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: zoom-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.ReactModal__Content {
  min-height: calc(100vh - 30vh);
  max-height: calc(100vh - 10vh);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
}

@media only screen and (max-height: 700px) {
  .ReactModal__Content {
    min-height: 500px;
    max-height: calc(100vh - 30vh);
  }
}

@media only screen and (min-height: 700px) {
  .ReactModal__Content {
    min-height: 600px;
  }
}

.content {
  margin-top: -20px;
  width: 900px;

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 16px;
  }

  .columns {
    font-size: 15px;

    li {
      padding-left: 10px;
    }
  }
}

.zoom-out {
  @include animation('zoom-out 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both');
}

@include keyframes(zoom-out) {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.05, 1.05);
  }

  100% {
    transform: scale(0);
  }
}

.tab,
button.tablinks {
  margin-top: -10px;
  font-size: 24px;
  background: none;
  border: none;
  outline: none;
  color: map-get($modal, 'text');
}

.tablinks {
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 30px 10px 30px;

  &:hover {
    background: rgba(189, 195, 199, .075);
  }

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    border-bottom: 3px solid map-get($modal, 'tab-underline');
  }

  svg {
    top: 0.125em;
    position: relative;
  }
}

.active:after {
  border-bottom: 3px solid map-get($modal, 'tab-underline-active') !important;
}

.dark {
  .tab,
  button.tablinks {
    color: white;
  }

  .active:after {
    border-image-slice: 1;
    border-image-source: map-get($theme-colours, 'gradient');
    border-bottom: 3px solid;
  }
}

.tab {
  margin-left: -3px;
}

::-webkit-scrollbar {
  width: 13px;
  background: #bdc3c7;
  border-top-right-radius: map-get($modal, 'border-radius');
  border-bottom-right-radius: map-get($modal, 'border-radius');
}

::-webkit-scrollbar-thumb {
  background: #34495e;
  border-top-right-radius: map-get($modal, 'border-radius');
  border-bottom-right-radius: map-get($modal, 'border-radius');
}

.updateContent {
  width: 400px;
  padding: 5px;

  .closeModal {
    margin-top: 10px;
    font-size: 45px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

#feedbackmodal {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100px;
}

.feedback {
  width: 400px;
  padding: 5px;

  h1, .closeModal {
    font-size: 2.5em;
  }

  span {
    font-size: 6em;
  }

  button {
    width: 100%;
    border-radius: 48px;
    outline: none;
    border: none;
    padding: 15px 20px;
    font-size: 1.5em;
    background: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }

  input[type=text] {
    width: 100%;
    font-size: 1em;
  }

  input[type=range] {
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
  }

  label.values {
    font-weight: 700;
  }
}