.navbar1 {
    top: 50px;
    right: 0px;
    position: absolute;
    text-align: right;
    min-width: 50px;
}

.navbar2 {
    top: 50px;
    right: 50px;
    position: absolute;
    text-align: right;
    min-width: 50px;
}

.navbar2 {
    top: 50px;
    right: 100px;
    position: absolute;
    text-align: right;
    min-width: 50px;
}

.PizzaIcon {
    margin-right: 20px; 
}

.pizza {
    right: 2000px;
}