%navbar {
    position: absolute;
    text-align: right;
    min-width: 50px;
}

.navbar1 {
    @extend navbar;
    top: 50px;
    right: 0px;
}

.navbar2 {
    @extend navbar;
    top: 50px;
    right: 50px;
}

.PizzaIcon {
    margin-right: 20px; 
}

.pizza {
    right: 2000px;
}