%navbar {
    position: absolute;
    text-align: right;
    min-width: 50px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.navbar1 {
    @extend %navbar;
    top: 50px;
    right: 0px;
}

.navbar2 {
    @extend %navbar;
    top: 50px;
    right: 50px;
}

.navbar3 {
    @extend %navbar;
    top: 50px;
    right: 100px;
}