.quote {
  font-size: 0.8em;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 600px) {
  .quote {
    margin-left: 30%;
    margin-right: 30%;
  }
}

.quoteauthor {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  margin: 0;
  text-shadow: 25px 25px 25px rgba(0, 0, 0, 0.3);
}

i.material-icons,
h1.quoteauthor {
  display: inline;
  text-shadow: 25px 25px 25px rgba(0, 0, 0, 0.3);
}