.search-bar {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    display: block;
    color: #ffff;
    font-family: 'Lexend Deca';

    button {
        cursor: pointer;
        outline: none;

        i.material-icons {
            text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        }

        display: inline;
    }

    input[type=text] {
        font-size: calc(5px + 1.2vmin);
        background: none;
        border: 2px solid #ffff;
        padding: 10px;
        color: #ffff;
        position: absolute;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
}

.input.searchText {
    border: none;
}

.searchbarform {
    display: flex;
    flex-direction: row;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}