.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.hidden {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  &.round:before {
    border-radius: 50%;
  }
}

input {
  &[type=text] {
    width: 200px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-image-slice: 1;
    border-image-source: map-get($theme-colours, "gradient");
    outline: none;
    background: transparent;
  }

  &:checked+.slider {
    background: map-get($theme-colours, "gradient");

    &:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  &:focus+.slider {
    box-shadow: 0 0 1px #e67e22;
  }
}

h4,
.switch,
.expandIcons {
  display: inline;
  font-size: 1.4em;
  font-weight: 100;
}

h4,
#engines {
  display: inline;
}

.section {
  margin-bottom: 20px;
}

.expandIcons {
  position: relative;
  font-size: 25px;
  vertical-align: middle;
  display: inline-flex;
}

h4,
.expandIcons {
  cursor: pointer;
}

.extraSettings {
  display: none;
  border-left: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #ffb032 0%, #dd3b67 100%);

  p {
    margin: 0;
    padding: 0;
  }

  select {
    margin-left: 20px;
  }

  input[type=text],
  input[type=range],
  p,
  button {
    margin-top: 10px;
  }
}

ul {
  padding-left: 5px;
  margin: 0;

  >label {
    vertical-align: middle;
  }
}

li {
  margin-top: 1px;
}

.range {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  background: #ccc;
  border-radius: 12px;
  outline: none;
  background: #ecf0f1;
  border-radius: 12px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background: map-get($theme-colours, "gradient");
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background: map-get($theme-colours, "gradient");
    cursor: pointer;
  }
}

input[type=color] {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  box-shadow: map-get($main-parts, "shadow");
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
  }
}

input[type=checkbox] {
  vertical-align: middle;
}

#customBackgroundHex {
  font-size: 1.2em;
  padding-left: 7px;
}

select {
  background: none;
  height: 34px;
  width: 120px;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #ffb032 0%, #dd3b67 100%);
  border-left: 10px solid;
  color: map-get($modal, "text");
}

select#language {
  float: right;
}

#customBackgroundColour {
  cursor: pointer;
}