.Modal {
  width: auto;
  color: #000;
  background-color: #fff;
  max-width: 500px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.Modal:focus {
  outline: 0;
}

.closeModal {
  float: right;
  font-size: 2em;
  cursor: pointer;
}

.closeModal:hover {
  color: grey;
}

.switch {
  position: relative;
 /* display: inline-block; */
  width: 60px;
  height: 34px;
  float: right;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #e67e22;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


h4, .switch, .expandIcons {
  display: inline;
  font-size: 1.4em;
  font-weight: 100;
}

h4, #engines {
  display: inline;
}

.section {
  margin-bottom: 20px;
}


.apply {
  height: 45px;
  width: 130px;
  text-align: center;
  border: none;
  transition: 0.25s;
  background-color: #dd3b67;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  box-shadow: 20px #000;
  font-size: 1.3em;
  position: relative;

  &:hover {
    transform: translateY(-0.10em);
  }

  &:before {
    content: '';
    background: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
    color: #fff;
  }

  &:hover:before {
    width: 100%;
  }

  &:active {
    outline: none;
  }
}

.expandIcons {
  position: relative;
  font-size: 25px;
  vertical-align: middle;
  display: inline-flex;
  cursor: pointer;
  transition-duration: 0.5s;
}

$gradient: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);

.extraSettings {
  display: none;
  border-left: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #ffb032 0%, #dd3b67 100%);
}

ul {
  padding-left: 5px;
  margin: 0;
}

li {
  margin-top: 1px;
}

.extraSettings > p {
  margin: 0;
  padding: 0;
}

.range {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  background: #ccc;
  border-radius: 12px;
  outline: none;
  background: #ecf0f1;
  border-radius: 12px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%);;
  cursor: pointer;
}