.Toastify__toast-body {
  color: var(--modal-text) !important;
  font-size: 16px !important;
  padding: 15px 20px !important;
  background: var(--background) !important;
}

.Toastify__toast {
  border-radius: 12px !important;
  min-height: auto !important;
  height: auto !important;
  width: auto !important;
  min-width: auto !important;
  padding: 0px !important;
}

.Toastify__close-button {
  margin-top: 10px;
  margin-right: 10px;
}

.Toastify__progress-bar--default {
  height: 3px !important;
  background: var(--modal-text) !important;
}

.Toastify__toast-container {
  width: auto !important;
}

.Toastify__progress-bar--default {
  color: var(--modal-text) !important;
}

.Toastify__close-button {
  color: var(--modal-text) !important;
}

.Toastify__toast--default {
  background: var(--background) !important;
}