.Toastify__toast-body {
    font-family: 'Lexend Deca', sans-serif !important;
    color: #000 !important;
    font-size: 16px !important;
    padding: 15px 20px !important;
}

.Toastify__toast {
    border-radius: 12px !important;
    min-height: auto !important;
    height: auto !important;
    width: auto !important;
    min-width: auto !important;
    padding: 0px !important;
}

.Toastify__close-button {
    margin-top: 10px;
    margin-right: 10px;
}

.Toastify__progress-bar--default {
    height: 3px !important;
    background: #000 !important;
}

.Toastify__toast-container {
    width: auto !important;
}
