@import 'scss/variables';

.modalTabContent {
  width: 100% !important;

  /* button {
    @include modal-button(standard);
  } */

  @include themed {
    padding: 1rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: t($modal-background);

    @extend %tabText;

    hr {
      width: 100%;
      background: rgb(196 196 196 / 74%);
      outline: none;
    }

    .settingsRow {
      display: flex;
      align-items: center;
      min-height: 100px;
      justify-content: space-between;
      transition: 0.4s ease-in-out;

      /* border-top: 1px solid #ccc; */
      border-bottom: 1px solid #676767;
      padding-top: 1rem;
      padding-bottom: 1rem;

      &.settingsNoBorder {
        border-bottom: none;
      }

      .content {
        display: flex;
        flex-flow: column;
        max-width: 50%;
      }

      .action {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        width: 300px;

        button {
          margin-top: 10px;
          width: 283px;
        }

        .link {
          margin-top: 10px;
          display: flex;
          flex-flow: row;
          gap: 15px;
          align-items: center;
        }
      }
    }
  }
}

.activityButtons {
  place-content: space-between space-between !important;
  align-items: flex-end !important;
  flex-flow: row wrap !important;

  button:not(:first-child) {
    width: 40% !important;
    height: 99px !important;
    flex-flow: column-reverse !important;
  }

  button {
    @include modal-button(standard);
  }
}

table {
  border-collapse: separate;

  @include themed {
    border-radius: t($borderRadius);
    margin-top: 20px;

    tr:first-child {
      background: t($modal-sidebarActive);

      th {
        padding: 1rem;
      }
    }

    td {
      padding: 15px;
    }

    tr {
      th:last-child {
        display: grid;
        place-items: center;
      }
    }

    ::placeholder {
      color: t($subColor);
    }

    tr:not(:first-child) {
      background: t($modal-sidebar);

      textarea {
        width: 90%;
        margin: 10px;
        color: t($color);
      }
    }
  }
}

.donateButton {
  @include modal-button(standard);

  flex-flow: row !important;
  text-decoration: none;
  height: auto !important;

  svg {
    font-size: 1.5rem !important;
  }
}

.flexGrow {
  flex-grow: 1;
}

.messageMap {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 25px;
  padding: 25px;
  justify-content: space-between;

  @include themed {
    background: t($modal-sidebar);
    border-radius: t($borderRadius);
    box-shadow: 0 0 0 1px t($modal-sidebarActive);
  }

  div:nth-child(1) {
    display: flex;
    flex-flow: row;
    gap: 25px;
    align-items: center;
  }

  .icon {
    @include themed {
      background-image: t($slightGradient);
      box-shadow: t($boxShadow);
    }

    padding: 15px;
    border-radius: 100%;
    font-size: 25px;
  }

  .messageText {
    display: flex;
    flex-flow: column;
    flex-grow: 3;

    textarea {
      @include themed {
        color: t($color);
      }
    }

    .subtitle {
      @include themed {
        color: t($subColor);
        font-size: 13px;
      }
    }
  }

  .messageAction {
    float: right;
  }
}

.messagesContainer {
  display: flex;
  flex-flow: column;
  gap: 25px;
}
