@import 'scss/variables';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 12px;

  @include themed {
    background: t($modal-sidebar);
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;

  @include themed {
    background: t($modal-sidebarActive);
  }

  &:hover {
    @include themed {
      background: t($btn-backgroundHover);
    }
  }

  &:active {
    @include themed {
      background: t($btn-backgroundHover);
    }
  }
}
