@use 'scss/variables' as *;

.aboutLink {
  &:hover {
    opacity: 0.8;
  }
}

.aboutLogo {
  height: 100px;
  width: auto;
  margin: calc(1rem - 15px) 0 1rem;
  align-self: center;
}

.aboutContact {
  flex-flow: row;
  display: flex;
  gap: 15px;

  a {
    text-decoration: none;
  }
}

.contributorImages {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  img {
    width: 75px;
    height: auto;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;

    @include themed {
      border-radius: t($borderRadius);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.subtitle-photographers {
  font-size: 16px;

  @include themed {
    color: t($color);

    span {
      color: t($subColor);
    }
  }
}

.aboutText {
  text-align: center;
  display: flex;
  flex-flow: column;
}
