.updateChangelog {
  max-width: 75%;
  margin-top: 15px;
  white-space: pre-wrap;
  font-size: 18px;

  a {
    color: var(--modal-link);

    &:hover {
      opacity: 0.8;
    }
  }
}

.changelogtab {
  .mainTitle {
    margin: 0 !important;
  }

  img {
    max-width: 95%;
  }
}
