%storeButton {
  cursor: pointer;
  font-size: 18px;
  display: block;
  padding: 5px 30px;
  background: none;
  border-radius: 24px;
  transition: ease 0.33s;
  border: 2px solid black;

  &:hover {
    background: #2d3436;
    color: map-get($theme-colours, 'main');
  }
}

.dark %storeButton {
  border: 2px solid map-get($theme-colours, 'main');
  color: map-get($theme-colours, 'main');

  &:hover {
    background: map-get($theme-colours, 'main');
    color: #2d3436;
  }
}

.sideload {
  display: inline;
  margin-top: 0;
  float: none !important;
  width: 200px;
}

.updateCheck {
  flex-flow: row !important;
}
