.featured {
  border-radius: 15px;
  padding: 50px;
  color: #fff;
  width: calc(100% - 6rem);
  margin-top: 13px;

  button {
    float: left;
    margin-top: -7px;
    border: 2px solid map-get($theme-colours, 'main');
    color: map-get($theme-colours, 'main');

    &:hover {
      background: map-get($theme-colours, 'main');
      color: #2d3436;
    }
  }

  h1 {
    margin-top: -20px;
    font-size: 2rem;
  }
}
