.side {
  float: right;
  margin-left: 20px;
}

p.description {
  margin-top: 0;
  max-width: 800px;
}

.informationContainer {
  margin-top: 150px;
  position: absolute;
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 30px);
  gap: 25px;

  .items {
    margin-top: 0 !important;
  }

  .item {
    flex: 1 0 40% !important;
  }

  @include themed {
    background: t($modal-sidebar);
    box-shadow: t(boxshadow);
    border-radius: t($borderRadius);
    padding: 15px;

    .infoItem {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 15px;
      flex: 1 0 44%;

      svg {
        font-size: 25px;
        color: t($subColor);
      }

      .text {
        display: flex;
        flex-flow: column;
      }
    }

    .header {
      text-transform: uppercase;
      color: t($subColor);
    }

    span {
      color: t($color);
    }
  }
}

.itemTitle {
  font-size: 38px;
  font-weight: 600;

  @include themed {
    color: t($color);
  }
}

.titleTop {
  display: flex;
  flex-flow: column;
  gap: 3px;
}

.showMore {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
  cursor: pointer;

  @include themed {
    &:hover {
      color: t($subColor);
    }
  }
}

.showMoreItems {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
