@use 'scss/variables' as *;

.side {
  float: right;
  margin-left: 20px;
}

p.description {
  margin-top: 0;
  max-width: 800px;
}

.moreInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;

  .items {
    margin-top: 0 !important;
  }

  .item {
    flex: 1 0 40% !important;
  }

  .infoItem {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 15px;

    svg {
      @include themed {
        background-image: t($slightGradient);
        box-shadow: t($boxShadow);
      }

      font-size: 18px;
      padding: 7px;
      border-radius: 100%;
    }

    .text {
      display: flex;
      flex-flow: column;
      font-size: medium;
    }
  }

  .header {
    // text-transform: uppercase;
    font-size: small;

    @include themed {
      color: t($subColor);
    }
  }

  span {
    @include themed {
      color: t($color);
    }
  }

  @include themed {
    background: t($modal-secondaryColour);
    box-shadow: 0 0 0 1px t($modal-sidebarActive);
    border-radius: t($borderRadius);
    padding: 15px;
  }
}

.subHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;

  .itemWarning {
    padding: 10px 20px;
    display: flex;
    flex-flow: row;
    gap: 15px;
    align-items: center;

    .text {
      display: flex;
      flex-flow: column;
    }

    svg {
      @include themed {
        background-image: t($slightGradient);
        box-shadow: t($boxShadow);
      }

      padding: 7px;
      border-radius: 100%;
    }

    @include themed {
      background: t($modal-sidebar);
      border-radius: t($borderRadius);
      box-shadow: 0 0 0 1px t($modal-sidebarActive);
    }
  }

  .items {
    margin-top: 0 !important;
  }

  .item {
    flex: 1 0 40% !important;
  }

  .infoItem {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 15px;
    flex: 1 0 44%;

    svg {
      @include themed {
        background-image: t($slightGradient);
        box-shadow: t($boxShadow);
      }

      font-size: 18px;
      padding: 7px;
      border-radius: 100%;
    }

    .text {
      font-size: medium;
      display: flex;
      flex-flow: column;
    }
  }

  .header {
    font-size: small;

    @include themed {
      color: t($subColor);
    }
  }

  span {
    @include themed {
      color: t($color);
    }
  }
}

.showMoreItems {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.marketplaceDescription {
  display: flex;
  flex-flow: column;
  gap: 15px;

  .subtitle {
    -webkit-user-select: text !important;
    user-select: text !important;
  }
}

.moreFromCurator {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}
