.side {
  float: right;
  margin-left: 20px;
}

p.description {
  margin-top: 0;
  max-width: 800px;
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 30px);
  gap: 25px;

  .items {
    margin-top: 0 !important;
  }

  .item {
    flex: 1 0 40% !important;
  }
  .infoItem {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 15px;
    flex: 1 0 44%;

    svg {
      @include themed() {
        background-image: t($slightGradient);
      }
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;
      border-radius: 100%;
    }

    .text {
      display: flex;
      flex-flow: column;
    }
  }

  .header {
    text-transform: uppercase;
    @include themed {
      color: t($subColor);
    }
  }

  span {
    @include themed {
      color: t($color);
    }
  }

  @include themed {
    background: t($modal-sidebar);
    box-shadow: 0 0 0 1px t($modal-sidebarActive);
    border-radius: t($borderRadius);
    padding: 15px;
  }
}


.showMoreItems {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.marketplaceDescription {
  display: flex;
  flex-flow: column;
  gap: 15px;
}