@import 'scss/variables';

.preview-mode {
  @extend %basic;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 15px;
  max-width: 250px;
  border-radius: 12px;
  z-index: 999;
  text-align: left;
  cursor: default;
  display: flex;
  flex-flow: column;
  gap: 15px;

  button {
    @include basicIconButton(10px, 14px, ui);

    gap: 20px;
  }
}
