@import 'photoinformation';
@import 'scss/mixins';

#backgroundImage {
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;
  transform: scale(1) !important;
  position: relative;
}

.backgroundTransform {
  @include animation('fadein2 2s');
  transition: opacity 2s;
}

@include keyframes(fadein2) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.blurhashOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 2s;
}

.backgroundImageActual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
}

.backgroundPreload {
  opacity: 0;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.fade-in {
  @include animation('fadein 1s');
}

@include keyframes(fadein) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dropzone.dragging {
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}
