@import 'scss/variables';

.weather {
  @extend %basic;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: initial;
  user-select: none;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: auto;
  display: grid;
  place-items: center;
  justify-items: start;
  padding: 25px;

  &:hover {
    height: auto;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .expanded-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .tooltip {
      width: 100%;
    }

    .tooltipTitle {
      max-height: 12px;
    }
  }

  .extra-info {
    width: 100%;
    font-size: 18px;
    gap: 40px;

    @include themed {
      color: t($weather);
    }
  }

  .visibility {
    text-transform: none !important;
  }

  .extra-info {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.top-weather {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;

  div {
    align-items: center;
    display: flex;

    svg {
      font-size: 2em !important;
    }

    span {
      font-size: 34px;
    }
  }

  .minmax {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
}

.expanded-info {
  display: none;
  font-size: 18px;
  text-transform: capitalize;
  gap: 10px;
  margin-top: 15px;

  span {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @include themed {
    svg {
      color: t($subColor);
    }

    .weatherIcon {
      font-size: 21px !important;
      display: grid;
      align-items: center;
    }

    .materialWeatherIcon {
      font-size: 18px !important;
      padding: 2px;
    }
  }
}

.upcomingForecast {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;

  div {
    @include themed {
      border-radius: t($borderRadius);
      border: 1px solid t($btn-backgroundHover);
      padding: 5px;
      flex: 1;

      svg {
        font-size: 36px;
      }

      span {
        justify-content: center;
      }

      .period {
        color: t($color);
        font-size: 15px;
      }

      .minmax {
        margin-top: 5px;
        flex-flow: column;
        gap: 0 !important;
      }
    }
  }
}
