a {
    color: #ffffff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

img {
    max-width: 100%;
    margin-top: 20px;
}

h1,
h2,
h3,
p {
    color: #ffffff;
}

.modal-content {
    background-color: #2d3436;
    margin: auto;
    padding: 30px;
    width: 450px;
    max-height: 600px;
    overflow-y: auto;
}

.title,
.close,
.settingsTitle,
.close2 {
    display: inline;
}

.title {
    color: #ffffff;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.settingsTitle {
    color: #ffffff;
    float: left;
    font-size: 30px;
    font-weight: bold;
}

p.subtitle {
    color: #ffffff;
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.title {
    float: left;
}

label.switch,
p.switch {
    display: inline;
}

label.switch {
    float: right;
}

.close:hover,
.close:focus {
    color: #bdc3c7;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #ffffff;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #bdc3c7;
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #2d3436;
}

::-webkit-scrollbar-thumb {
    background: #34495e;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c3e50;
}