body {
    font-family: 'Noto Sans HK', sans-serif;
    background: #ffffff;
    font-size: 20px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Noto Sans HK', sans-serif;
}
img {
    max-width: 100%;
    margin-top: 20px;
}

h1, h2, h3, p {
    color: #000000;
}

.modal-content {
    background-color: #ecf0f1;
    margin: auto;
    padding: 30px;
    width: 450px;
    max-height: 600px;
    overflow-y: auto;
}

.title, .close {
  display: inline;
}
.settingsTitle, .close2 {
  display: inline;
}

.title {
    color: #000000;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.settingsTitle {
  color: #000000;
  float: left;
  font-size: 30px;
  font-weight: bold;
}

label.switch, p.switch {
  display: inline;
}
label.switch {
  float: right;
}

p.subtitle {
    color: #000000;
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.title {
    float: left;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.title {
  float: left;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
