.dropdown {
  select {
    margin-left: 10px;
    width: 120px;
    color: map-get($modal, 'text');
    background: #f0f0f0;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;

  }

  select#language {
    float: right;
  }
}

// firefox dropdown
@supports (-moz-appearance:none) {
  select {
    -moz-appearance: none !important;
    background: url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat, linear-gradient(180deg, #ffb032 0%, #dd3b67 100%) !important;
    background-position: calc(100% - 5px) center !important;
  }
}

.react-date-picker__wrapper {
  padding: 0.5rem 1rem !important;
  box-sizing: border-box !important;
  border-image-slice: 1 !important;
  border-image-source: linear-gradient(90deg, #ffb032 0%, #dd3b67 100%) !important;
  background: transparent !important;
  color: #fff !important;
}

.react-date-picker__clear-button,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important;
}
