.hidden {
  display: none;
}

input {
  &[type=text]  {
    width: 200px;
    color: var(--modal-text);
    background: var(--sidebar);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
  }

  &:checked+.slider {
    background: map-get($theme-colours, 'gradient');

    &:before {
      -webkit-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  &:focus+.slider {
    box-shadow: 0 0 1px #e67e22;
  }
}

.DayPickerInput, .input-container {
  input {
  width: 200px;
  color: var(--modal-text) ! important;
  background: var(--sidebar);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  }
}

h4,
.switch {
  display: inline;
  font-size: 1.4em;
  font-weight: 100;
}

h4,
#engines {
  display: inline;
}

.section {
  margin-bottom: 20px;
}

h4 {
  cursor: pointer;
}

ul {
  padding-left: 0px;
  margin: 0;

  >label {
    vertical-align: middle;
  }
}

li {
  margin-top: 1px;
}

.range {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  border-radius: 12px;
  outline: none;
  background: var(--sidebar);
  border-radius: 12px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background: map-get($theme-colours, 'gradient');
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    border: 0;
    background: map-get($theme-colours, 'gradient');
    cursor: pointer;
  }
}

input[type=color] {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
  background: none;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
  }
}

input[type=color]::-moz-color-swatch {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  -moz-appearance: none;
  vertical-align: middle;
  background: none;

  &::-moz-color-swatch-wrapper {
    padding: 0;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 100%;
  }
}

.customBackgroundHex {
  font-size: 1.2em;
  padding-left: 7px;
  vertical-align: middle;
}

.nodropdown {
  cursor: default;
}

.newFeature {
  color: #ff4757;
  font-size: 12px;
}

.settingsTextarea {
  font-family: Consolas !important;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--sidebar) !important;
  border: none;
  margin-left: 0;
}

.MuiCheckbox-colorPrimary.Mui-checked, .MuiSwitch-colorPrimary.Mui-checked,  .MuIconButton-colorPrimary.Mui-checked{
  color: map-get($button-colours, 'reset') !important;
}

.MuiFormControlLabel-labelPlacementStart {
  margin-left: 0px;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background: darkgray !important;
}

.reminder-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  color: #000;
  background: #f0f0f0;
  max-width: 300px;
  border-radius: 0.7em;
  display: none;

  h1 {
    font-size: 1em;
  }
}

.radio-title {
  text-transform: uppercase;
  font-weight: bold;
}

.DayPicker-Day--selected {
  background-color: #ff4757 !important;
  color: white;
}

.DayPicker-Months, .DayPickerInput-Overlay {
  background-color: var(--background) !important;
  color: var(--modal-text) !important;
}