@import 'modules/dropdown';
@import 'modules/resetmodal';
@import 'modules/material-ui';
@import 'modules/slider';
@import 'modules/reminder';
@import 'modules/textarea';

@import 'modules/tabs/about';
@import 'modules/tabs/changelog';
@import 'modules/tabs/order';

input {
  /* text input */
  &[type=text] {
    width: 200px;
    color: var(--modal-text);
    background: var(--sidebar);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
  }

  /* colour picker */
  &[type=color] {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    vertical-align: middle;
    background: none;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
      border-radius: 100%;
    }
  }

  /* firefox fixes for colour picker (using "," didn't work) */
  &[type=color]::-moz-color-swatch {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    -moz-appearance: none;
    vertical-align: middle;
    background: none;

    &::-moz-color-swatch-wrapper {
      padding: 0;
    }

    &::-moz-color-swatch {
      border: none;
      border-radius: 100%;
    }
  }

  /* date picker */
  &[type=date] {
    width: 200px;
    color: var(--modal-text);
    background: var(--sidebar);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
  }
}

/* dark theme date picker fix */
.dark {
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

h4 {
  cursor: pointer;
}
