@import 'scss/variables';

.reminder {
  @extend %basic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 60px;
  text-align: left;
  .identifier {
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 12px 0 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-flow: column;
    padding: 10px;
  }
  .icons {
    display: flex;
    gap: 10px;
    padding: 10px;
    svg {
      @include basicIconButton(10px, 0.9rem, ui);
    }
  }
}
