//noinspection CssUnknownTarget
@import 'scss/variables';

.weather {
  @extend %basic;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: initial;
  user-select: none;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-flow: column;

  &:hover {
    height: auto;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .expanded-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .tooltipTitle {
      max-height: 12px;
    }
  }

  .extra-info {
    width: 100%;
    font-size: 18px;
    gap: 25px;

    @include themed {
      color: t($weather);
    }
  }

  .visibility {
    text-transform: none !important;
  }

  .extra-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.weatherCore {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px;
  @include themed() {
    border-bottom: 1px solid t($btn-backgroundHover);
  }

  div {
    align-items: center;
    display: flex;

    svg {
      font-size: 2em !important;
    }
  }

  .minmax {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
}

.weatherIcon {
  display: grid;
  align-items: center;
}

.iconAndTemps {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  svg {
    font-size: 2em !important;
  }
  span {
    font-size: 34px;
  }
}

.expanded-info {
  display: none;
  font-size: 18px;
  text-transform: capitalize;
  gap: 10px;
  padding: 15px 25px 25px 25px;

  span {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .tooltip {
    width: 100%;
  }

  @include themed {
    svg {
      color: t($subColor);
    }

    .weatherIcon {
      font-size: 21px !important;
      display: grid;
      align-items: center;
    }

    .materialWeatherIcon {
      font-size: 18px !important;
      padding: 2px;
    }
  }
}
