button.settings,
button.news {
    background: transparent;
    border: none;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: table-cell
}

.buttons {
    position: absolute;
    right: 10px;
    top: 10px;
    i.material-icons {
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        padding-top: 0;
    }
}

button.news {
    position: absolute;
    right: 60px;
    top: 0px;
}

button.copyButton {
    background: transparent;
    border: none;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: table-cell
}