@import '../../../scss/variables';

.searchBar {
  position: absolute;
  left: 20px;
  top: 20px;
  color: map-get($theme-colours, 'main-text-color');

  input[type=text] {
    width: 140px;
    margin-left: 40px;
    border-radius: 24px;
    font-size: calc(5px + 1.2vmin);
    border: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    color: black;
    padding: 0.5rem 1rem;
    user-select: none;

    &:focus {
      width: 400px;
      background-color: rgba(255, 255, 255, 0.8);
      user-select: text;
    }

    &::-webkit-input-placeholder {
      color: black;
    }

    &::-moz-placeholder {
      color: black;
    }
  }

  svg {
    position: absolute;
    margin-top: 6px;
    font-size: 30px;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
    cursor: pointer;
    transition: all 0.5s ease 0s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.searchDropdown {
  display: block;
  margin-top: 10px;
  font-size: calc(5px + 1.2vmin);
  user-select: none;
  position: absolute;
  top: 2.5em;
  left: 1em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  width: 250px;

  span {
    display: block;
  }

  .searchDropdownList, .searchSelected {
    cursor: pointer;

    &:hover {
      color: rgb(214, 214, 214);
    }
  }
}

.micIcon {
  margin-right: 10px;
  position: relative !important;
}

.dark .searchBar {
  input[type=text] {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;

    &:focus {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::-webkit-input-placeholder {
      color: white;
    }

    &::-moz-placeholder {
      color: white;
    }
  }
}

.dropdown-span {
  font-size: calc(5px + 1.2vmin);
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: rgb(214, 214, 214);
  }
}
