// todo: possibly add tooltip placement option
.tooltip {
  position: relative;
  display: inline-block;

  .tooltipTitle {
    width: 60px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 0.6rem;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    visibility: hidden;
    cursor: initial;
    user-select: none;
    opacity: 0;
    transition: opacity 0.8s;
  }

  &:hover {
    .tooltipTitle {
      visibility: visible;
      opacity: 0.8;
    }
  }
}

.dark .tooltipTitle {
  background-color: #000000;
  color: #ffffff;
}
