.carousel {
  position: relative;
  width: 100%;
  margin-left: 5px;
}

.carousel_viewport {
  overflow: hidden;
  width: 100%;

  &.is-draggable {
    cursor: move;
    cursor: grab;
  }

  &.is-dragging {
    cursor: grabbing;
  }

  border-radius: 15px !important;
}

.carousel_container {
  display: flex;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.carousel_slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }
}

.carousel_slide_inner {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.carousel_button {
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px !important;
  height: 30px !important;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  padding: 0;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  &.prev {
    left: 27px;
  }

  &.next {
    right: 27px;
  }
}
