.mobile {
  .navbar {
    flex-flow: column;
  }

  .searchComponents {
    display: none;
  }

  #modal {
    // fill screen
    width: 100vw;
    height: 100vh;
  }

  .modalSidebar {
    display: none;
  }
}
