/* Imports */
@import 'modules/clock';
@import 'modules/greeting';
@import 'modules/quote';
@import 'modules/search';
@import 'modules/credit';
@import 'modules/navbar';
@import 'modules/modal';
@import 'modules/settings';
@import 'modules/miscellaneous';

#backgroundImage {
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    border: none;
}