/* Imports */
@import 'modules/clock';
@import 'modules/greeting';
@import 'modules/quote';
@import 'modules/search';
@import 'modules/credit';
/*@import 'modules/navbar';*/
@import 'modules/miscellaneous';