/* these are overrides for the material ui default styles */

@import 'scss/variables';

.MuiCheckbox-colorPrimary.Mui-checked,
.MuiSwitch-colorPrimary.Mui-checked,
.MuIconButton-colorPrimary.Mui-checked,
.MuiSwitch-thumb,
.MuiRadio-colorSecondary.Mui-checked,
.PrivateSwitchBase-input-4,
.MuiRadio-root,
.aboutLink,
.MuiSlider-colorPrimary,
legend {
  @include themed {
    color: t($color) !important;
  }
}

.MuiFormControlLabel-labelPlacementStart {
  margin-left: 0 !important;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  @include themed {
    background-color: t($subColor) !important;
  }
}

.MuiSwitch-track {
  @include themed {
    background-color: t($subColor) !important;
  }
}

.MuiIconButton-label > svg.MuiSvgIcon-root {
  @include themed {
    color: t($color) !important;
  }
}

.MuiTouchRipple-root {
  background: transparent;
}

.MuiFormControl-root {
  margin-top: 10px !important;
}

.checkbox svg {
  @include themed {
    fill: t($color) !important;
  }
}

.radio-title {
  font-weight: bold;
  font-size: 1.17rem;
}

.radio-title-small {
  font-weight: bold;
  font-size: 1rem;
}

.MuiSlider-root {
  margin-bottom: 30px !important;
}

.MuiOutlinedInput-notchedOutline {
  @include themed {
    border-color: t($color) !important;
  }
}

.MuiFormLabel-root-MuiInputLabel-root {
  @include themed {
    color: t($color) !important;
  }
}

.MuiInputLabel-root,
.MuiSlider-markLabel,
.MuiInputLabel-root,
.MuiSelect-icon,
.MuiSelect-select,
.Mui-focused,
legend,
.MuiOutlinedInput-input {
  @include themed {
    color: t($color) !important;
  }
}

.MuiMenu-list {
  @include themed {
    background-color: t($modal-background);
    color: t($color);
  }

  li {
    &:hover {
      @include themed {
        background-color: t($modal-sidebarActive);
        transition: 0.5s;
      }
    }
  }
}

.Mui-selected {
  @include themed {
    background-color: t($modal-sidebarActive) !important;
  }
}

.MuiTextField-root,
.MuiFormControl-root,
.MuiSlider-root {
  width: 300px !important;
}

.Mui-disabled {
  color: #818181 !important;
  cursor: not-allowed;

  .checkbox svg {
    fill: #818181 !important;
  }
}

.MuiPaper-root {
  @include themed {
    background-color: t($modal-background) !important;
  }
}

.MuiSlider-valueLabel {
  @include themed {
    background-color: t($modal-sidebarActive) !important;
  }
}

.MuiFormControlLabel-labelPlacementStart {
  justify-content: flex-end;
}

.settingsRow {
  .MuiFormControlLabel-root {
    flex-direction: row-reverse;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
  }

  .MuiFormControlLabel-root {
    width: 100%;
  }
}

.css-w66kx-MuiChip-root {
  @include themed {
    color: t($color) !important;
    border: 1px solid t($modal-sidebarActive);
    background: t($modal-sidebar) !important;
    border-radius: t($borderRadius);
  }

  text-transform: capitalize;
}
