@import '../../../../../../scss/variables';

.reminder-info {
  position: absolute;
  bottom: 0;
  padding: 15px;
  flex-flow: column;
  gap: 10px;
  margin: 5px;
  @extend %tabText;
  @include themed() {
    color: t($color);
    background: t($modal-sidebar);
    box-shadow: 0 0 0 4px t($modal-sidebarActive);
    border-radius: t($borderRadius);
  }
  button {
    @include modal-button(standard);
  }
}
