@import '../../../../../../scss/variables';

.resetModal {
  @extend %tabText;
  display: flex;
  flex-flow: column;
  padding: 2rem;
  justify-content: center;
  gap: 15px;
  @include themed() {
    background: t($modal-background);
  }
  button {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  button:nth-child(1) {
    @include basicIconButton(11px, 1.3rem, modal-text);
  }
  button:nth-child(2) {
    @include basicIconButton(11px, 1.3rem, modal);
  }
}
.resetFooter {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}