.resetmodal {
  min-height: 300px !important;
  max-width: 300px !important;
  margin: auto;
  font-size: 1rem;

  h4 {
    cursor: initial;
    font-size: 1.1rem;
  }
}

.resetfooter {
  position: absolute;
  bottom: 20px;
  width: 300px;
  justify-content: center;
  display: flex;

  button.reset {
    margin-right: 43px;
  }
}

.resetoverlay {
  background-color: rgba(0, 0, 0, 0.5);
}
