.settingsTextarea {
  font-family: Consolas !important;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--sidebar) !important;
  border: none;
  margin-left: 0;
  width: 400px;
  height: 200px;
  max-width: 60%;
}
