//noinspection CssUnknownTarget
@use 'scss/variables' as *;

.weather {
  @extend %basic;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: initial;
  user-select: none;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-flow: column;
  animation: fadeIn 1s;

  &:hover {
    height: auto;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .extra-info {
    width: 100%;
    font-size: 18px;
    gap: 25px;

    @include themed {
      color: t($weather);
    }
  }

  .visibility {
    text-transform: none !important;
  }

  .extra-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.weatherCore {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px;

  div {
    align-items: center;
    display: flex;

    svg {
      font-size: 2em !important;
    }
  }

  .minmax {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
}

.weatherIcon {
  display: grid;
  align-items: center;
}

.iconAndTemps {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;

  svg {
    font-size: 2em !important;
  }

  span {
    font-size: 34px;
  }
}

.weatherExpandedInfo {
  padding: 0 25px 25px;
  text-align: left;

  @include themed {
    border-top: 1px solid t($btn-backgroundHover);
  }
}

.weatherExpandedInfoItems {
  font-size: 18px;
  text-transform: capitalize;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .tooltipTitle {
    max-height: 12px;
  }

  span {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .tooltip {
    width: 100%;
  }

  @include themed {
    svg {
      color: t($subColor);
    }

    .weatherIcon {
      font-size: 21px !important;
      display: grid;
      align-items: center;
    }

    .materialWeatherIcon {
      font-size: 18px !important;
      padding: 2px;
    }
  }
}

.weather.skeleton {
  .iconAndTemps {
    gap: 10px;
  }

  .weatherCore {
    gap: 10px;
  }

  .weathericon {
    gap: 10px;
  }

  .minmax {
    max-width: fit-content;
    background: transparent !important;

    .subtitle {
      margin-bottom: 5px;
    }
  }

  .weatherExpandedInfoItems {
    padding-top: 10px;
  }

  .mainSkeletonIcon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }

  .infoItemSkeleton {
    display: flex;
    flex-flow: row;
    gap: 5px;
    align-items: center;

    .subtitle {
      font-size: 18px;
    }
  }

  .smallSkeletonIcon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }

  .title,
  span {
    color: transparent;
    width: 100px;
  }

  .subtitle {
    color: transparent;
    width: 50px;
  }
}
