@import '../main/scss/index.scss';
@import 'scss/variables';

.welcomeContent {
  height: 100%;
}

.welcomemodal {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: clamp(70vw, 1200px, 90vw);
  padding: 0;
  overflow-x: hidden !important;

  section {
    width: 50%;
    display: inline;
    height: 100%;
  }

  section:nth-child(1) {
    float: left;
    @include themed() {
      background: t($modal-sidebar);
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section:nth-child(2) {
    float: right;
    @include themed() {
      background: t($modal-background);
    }
    .content {
      padding: 20px;
      .mainTitle {
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }

    .buttons {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      display: flex;
      button {
        @include modal-button(standard);
        width: 150px;
      }
    }

    h1 {
      font-size: 2.5rem;
    }

    h3.quicktip {
      text-transform: uppercase;
      color: #5352ed;
    }
  }
}

.welcomeoverlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.progressbar {
  position: fixed;
  bottom: 50px;
  text-align: center;
  display: inline;
  overflow: hidden;
  white-space: nowrap;

  .step {
    display: inline-block;
    width: 50px;
    background: #8395a7;
    height: 4px;
    margin: 10px;
    transition: 0.2s ease;
    cursor: pointer;
    border-radius: 15px;
  }

  .active {
    background: #5352ed;
  }
}

.themesToggleArea {
  @include themed() {
    .active {
      background: t($modal-sidebarActive);
    }

    .toggle {
      background: t($modal-sidebar);
      text-align: center;
      border-radius: 20px;
      padding: 20px;
      border: 3px solid t($modal-sidebarActive);
      transition: 0.33s;

      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;

      cursor: pointer;

      &:hover {
        background: t($modal-sidebarActive);
      }

      span {
        font-size: 1rem;
      }

      svg {
        font-size: 2.5em;
      }
    }

    .auto {
      svg {
        font-size: 12px;
        padding-right: 5px;
      }
    }

    .options {
      display: flex;
      justify-content: space-between;
      gap: 25px;
      margin-top: 25px;

      .lightTheme,
      .darkTheme {
        width: 40%;
        padding: 50px;

        span {
          display: block;
        }
      }
    }
  }
}

.themesToggleArea .toggle {
  margin-bottom: 10px;
}

.upload {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 50px;
  @include themed() {
    background: t($modal-sidebar);
    color: t($color);
    cursor: pointer;
    border: 3px solid t($modal-sidebarActive);
    &:hover {
      background: t($modal-sidebarActive);
    }
  }

  svg {
    font-size: 4em;
  }

  span {
    font-size: 2em;
  }
}

a.privacy {
  text-decoration: none;
  color: var(--modal-text);
  font-size: 1rem;

  &:hover {
    color: #5352ed;
  }
}

.examples {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  img {
    width: clamp(20rem, 300px, 40rem);
    height: auto !important;
    display: block;
    margin: 30px;
    border-radius: 12px;
  }
}

.createButtons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 15px;
  button {
    width: 150px;
    height: 40px;
  }
}

.showcaseimg {
  width: 350px;
  height: auto;
  /*animation-name: float-in;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;*/
}

@keyframes float-in {
  0% {
    transform: translate(0, 30px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}
