@import '../main/scss/index';
@import 'scss/variables';

.welcomemodal {
  @include themed {
    background-color: t($modal-background);
  }
}

.welcomeContent {
  @include themed {
    background-color: t($modal-background);
  }

  .MuiFormControlLabel-root {
    margin-right: 0;
  }

  @extend %tabText;

  height: 80vh;
  width: clamp(60vw, 1200px, 90vw);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0;

  section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;

    @include themed {
      background-color: t($modal-sidebar);
    }
  }

  section:nth-child(2) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow-y: auto;

    .buttons {
      z-index: 999;
      backdrop-filter: blur(2px);
      position: sticky;
      bottom: 0;
      padding: 25px;
      display: flex;
      justify-content: flex-end;

      button {
        @include modal-button(standard);

        width: 150px;
      }
    }

    .content {
      display: flex;
      flex-flow: column;
      padding: 25px;
      gap: 20px;
    }
  }
}

.progressbar {
  position: fixed;
  bottom: 50px;
  text-align: center;
  display: inline;
  overflow: hidden;
  white-space: nowrap;

  .step {
    display: inline-block;
    width: 50px;
    background: #8395a7;
    height: 4px;
    margin: 10px;
    transition: 0.2s ease;
    cursor: pointer;
    border-radius: 15px;
  }

  .active {
    background: #5352ed;
  }
}

.themesToggleArea {
  @include themed {
    .active {
      background: t($modal-sidebarActive);
    }

    .toggle {
      background: t($modal-sidebar);
      text-align: center;
      border-radius: 20px;
      padding: 20px;
      border: 3px solid t($modal-sidebarActive);
      transition: 0.33s;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: t($modal-sidebarActive);
      }

      span {
        font-size: 1rem;
      }

      svg {
        font-size: 2.5em;
      }
    }

    .auto {
      svg {
        font-size: 12px;
        padding-right: 5px;
      }
    }

    .options {
      display: flex;
      justify-content: space-between;
      gap: 25px;
      margin-top: 25px;

      .lightTheme,
      .darkTheme,
      .legacyStyle,
      .newStyle {
        width: 50%;
        padding: 50px;

        span {
          display: block;
        }
      }
    }
  }
}

.themesToggleArea .toggle {
  margin-bottom: 10px;
}

.upload {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: 0.3s;

  @include themed {
    background: t($modal-sidebar);
    color: t($color);
    cursor: pointer;
    border: 3px solid t($modal-sidebarActive);

    &:hover {
      background: t($modal-sidebarActive);
    }
  }

  svg {
    font-size: 4em;
  }

  span {
    font-size: 2em;
  }
}

a.privacy {
  text-decoration: none;
  color: var(--modal-text);
  font-size: 1rem;

  &:hover {
    color: #5352ed;
  }
}

.examples {
  img {
    width: 60%;

    @include themed {
      border-radius: t($borderRadius);
    }
  }
}

.createButtons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 15px;

  button {
    width: 150px;
    height: 40px;
  }
}

.showcaseimg {
  width: 350px;
  height: auto;

  /* animation-name: float-in;
  animation-duration: 1.2s;
  animation-timing-function: ease-in; */
}

.welcomeContent {
  .light {
    .toggle.lightTheme {
      background-color: rgb(219 219 219 / 72%);
    }
  }

  .dark {
    .toggle.darkTheme {
      background-color: rgb(65 71 84 / 90%);
    }
  }
}

.welcomeNotice {
  display: flex;
  flex-flow: row;
  gap: 25px;
  padding: 25px;
  align-items: center;

  @include themed {
    background-color: t($modal-sidebar);
    border-radius: t($borderRadius);
  }

  .icon {
    @include themed {
      background-color: t($modal-sidebarActive);
    }

    height: 50px !important;
    width: 50px !important;
    border-radius: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    flex-shrink: 0;
  }

  .text {
    display: flex;
    flex-flow: column;
  }

  a {
    text-decoration: none;
    margin-left: auto;
    padding: 0 20px;

    @include modal-button(standard);
  }
}

.toggle.active {
  @include themed {
    background-color: t($modal-sidebarActive) !important;
  }
}
